<app-header-layout></app-header-layout>
<app-search-layout></app-search-layout>
<div class="searchMovies flex">
    <div class="searchMovies__sliderBar">
        <div class="searchMovies__sliderBar__title">
            <p>Search Results</p>
        </div>
        <div class="searchMovies__sliderBar__body">
            <a href="javascript:void(0)" (click)="selectSearch('movies')"
                [class.active]="selectedQuery === 'movies'">Movies</a>
            <a href="javascript:void(0)" (click)="selectSearch('tv')" [class.active]="selectedQuery === 'tv'">TV
                Shows</a>
            <a href="javascript:void(0)" (click)="selectSearch('people')"
                [class.active]="selectedQuery === 'people'">People</a>
            <a href="javascript:void(0)" (click)="selectSearch('collection')"
                [class.active]="selectedQuery === 'collection'">Collections</a>
            <a href="javascript:void(0)" (click)="selectSearch('company')"
                [class.active]="selectedQuery === 'company'">Companies</a>
            <a href="javascript:void(0)" (click)="selectSearch('keyword')"
                [class.active]="selectedQuery === 'keyword'">Keywords</a>
            <!-- <a href="javascript:void(0)">Networks</a> -->
        </div>
    </div>
    <div class="searchMovies__tv" *ngIf="selectedQuery ==='tv'">
        <div *ngFor="let tv of tvFim " class="flex searchMovies__tv__item">
            <div class="searchMovies__tv__item-img">
                <img *ngIf="tv.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+tv.poster_path" alt="">
                <img *ngIf="!tv.poster_path" src="assets/imgErr.PNG" alt="">

            </div>
            <div class="searchMovies__tv__item-title">
                <p class="text-xl font-semibold">{{tv.original_name}}</p>
                <p class="font-extralight">{{tv.first_air_date | date}}</p>
                <p class="mt-3">{{tv.overview}}</p>
            </div>
        </div>
    </div>
    <div class="searchMovies__people" *ngIf="selectedQuery ==='people'">
        <div *ngFor="let people of peopleFim " class="flex searchMovies__people__item">
            <div class="searchMovies__people__item-img">
                <img *ngIf="people.img" [src]="'https://image.tmdb.org/t/p/w500'+people.img" alt="">
                <img *ngIf="!people.img" src="assets/imgErr.PNG" alt="">
            </div>
            <div class="searchMovies__people__item-title">
                <p class="text-xl font-semibold">{{people.name}}</p>
                <div class="flex">
                    <p>Acting</p>
                    <div class="flex justify-center items-center">
                        <span></span>
                    </div>
                    <div class="flex gap-5">
                        <p *ngFor="let title of people.titles">{{title}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="searchMovies__company" *ngIf="selectedQuery ==='company'">
        <div *ngFor="let company of companFim " class="flex searchMovies__company__item">
            <div>
                <hr class="border-t-gray-300">
            </div>
            <p class="text-xl ">{{company.name}}</p>
        </div>
    </div>
    <div class="searchMovies__keyword" *ngIf="selectedQuery ==='keyword'">
        <div *ngFor="let keyword of KeyWordFim " class="flex searchMovies__keyword__item">
            <div>
                <hr class="border-t-gray-300">
            </div>
            <p class="">{{keyword.name}}</p>
        </div>
    </div>
    <div class="searchMovies__collection" *ngIf="selectedQuery ==='collection'">
        <div *ngFor="let collection of collectionFim " class="flex searchMovies__collection__item">
            <div class="searchMovies__collection__item-img">
                <img *ngIf="collection.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+collection.poster_path"
                    alt="">
                <img *ngIf="!collection.poster_path" src="assets/imgErr.PNG" alt="Ảnh dự phòng">
            </div>
            <div class="searchMovies__collection__item-title">
                <p class="text-xl font-semibold">{{collection.original_name}}</p>
                <p class="font-extralight">{{collection.first_air_date | date}}</p>
                <p class="mt-3">{{collection.overview}}</p>
            </div>
        </div>
    </div>
    <div class="searchMovies__movies" *ngIf="selectedQuery ==='movies'">
        <div *ngFor="let search of moviesFim" class="flex searchMovies__movies__item">
            <div class="searchMovies__movies__item-img">
                <img *ngIf="search.poster_path" [src]="'https://image.tmdb.org/t/p/w500'+search.poster_path" alt="">
                <img *ngIf="!search.poster_path" src="assets/imgErr.PNG" alt="">
            </div>
            <div class="searchMovies__movies__item-title">
                <p class="text-xl font-semibold">{{search.original_title}}</p>
                <p class="font-extralight">{{search.release_date | date}}</p>
                <p class="mt-3">{{search.overview}}</p>
            </div>
        </div>
        <div class="flex gap-5">
            <button (click)="loadMovieResults(currentPage - 1)" [disabled]="currentPage === 1"><</button>
            <span>Trang {{ currentPage }} / {{ totalPages }}</span>
            <button (click)="loadMovieResults(currentPage + 1)" [disabled]="currentPage === totalPages">></button>
        </div>
    </div>
</div>
<app-footer-layout></app-footer-layout>