@import "tailwindcss";
@import "../../../services/fim.mixin.scss";

.searchMovies {
    width: 75%;
    margin: 0 auto;
    gap: 30px;
    padding: 30px 40px;

    &__sliderBar {
        border-radius: 10px;
        border: 1px solid #ccc;
        height: fit-content;
        width: 20%;
        @include columnStyle(5px);

        &__title {
            color: white;

            p {
                background-color: rgb(61, 176, 243);
                font-size: 19px;
                padding: 15px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                font-weight: 500;
            }
        }

        &__body {
            padding: 5px 0;
            a {
                display: block;
                padding: 7px 20px;

            }

            div:hover {
                background-color: #f7f1f1;
            }

            div.active {
                background-color: #ccc;
            }

            p {
                padding: 7px 20px;
            }

        }
    }

    &__people {
        width: 80%;
        @include columnStyle(10px);

        &__item {
            gap: 20px;
            &-img {
                width: 70px;
                flex: 0 0 auto;

                img {
                    border-radius: 10px;
                }
            }

            &-title {
                @include columnStyle(5px);
                justify-content: center;

                span {
                    width: 4px;
                    height: 4px;
                    display: inline-block;
                    background-color: black;
                    border-radius: 10px;
                    margin: 0 5px;
                }
            }
        }
    }

    &__tv {
        width: 80%;
        @include columnStyle(20px);

        &__item {
            border: 1px solid #ccc;
            border-radius: 10px;
            gap: 20px;
            box-shadow: 1px 1px 5px rgb(207, 206, 206);

            &-img {
                width: 95px;
                flex: 0 0 auto;

                img {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }

            &-title {
                @include columnStyle(0);
                justify-content: center;
            }
        }
    }

    &__company {
        width: 80%;
        @include columnStyle(0);

        &__item {
           @include columnStyle(0);
        }
    }

}