@import "tailwindcss";
@import "../../../services/fim.mixin.scss";

* {
    padding: 0;
    margin: 0;
}

.container {
    display: inline;

    &__content {
        margin: 10px 0;

        .shortCut {
            position: relative;

            &__menuOver {
                @include mediaStyle();
                top: 100%;
                left: 0;
                font-size: 14px;
                border: 1px solid #ccc;

                &__body {
                    a {
                        width: auto;
                        display: block;
                        padding: 5px 40px 5px 20px;
                        white-space: nowrap;
                    }

                    a:hover {
                        background-color: #bec2c6;
                    }
                }

                &__footer {
                    margin-top: 20px;

                    a {
                        @include padStyle();
                    }

                    a:hover {
                        background-color: #bec2c6;
                    }
                }
            }
        }

        .shortCut:hover .shortCut__menuOver {
            display: block;
        }

        .shortMedia {
            position: relative;

            &__content {
                @include mediaStyle();
                top: 100%;
                left: 0;
                font-size: 14px;
                border: 1px solid #ccc;

                ul {
                    width: 150px;

                    li {
                        padding: 5px 20px 5px 10px;
                    }

                    li:hover {
                        background-color: #bec2c6;
                    }
                }
            }
        }

        .shortMedia:hover .shortMedia__content {
            display: block;
        }

        .shortMedia__content__video {
            position: relative;
        }

        .shortMedia__content__video-item {
            @include mediaStyle();
            top: 0;
            left: 100%;
            white-space: nowrap;

            p {
                padding: 5px 20px 5px 10px;
            }
        }

        .shortMedia__content__video-item :hover {
            background-color: #bec2c6;
        }

        .shortMedia__content__video:hover .shortMedia__content__video-item {
            display: block;
        }

        .shortFamdom {
            position: relative;

            p {
                white-space: nowrap;
            }

            &__content {
                @include mediaStyle();
                top: 100%;
                left: 0;
                font-size: 14px;
                border: 1px solid #ccc;

                &__body {
                    li {
                        @include padStyle();
                    }

                    li:hover {
                        background-color: #bec2c6;
                    }

                    &__discuss {
                        position: relative;

                        div {
                            @include mediaStyle();
                            top: 0;
                            left: 100%;
                            white-space: nowrap;
                            border: 1px solid #ccc;

                            a {
                                @include padStyle();
                            }

                            a:hover {
                                background-color: #bec2c6;
                            }
                        }
                    }
                }
            }
        }

        .shortFamdom:hover .shortFamdom__content {
            display: block;
        }

        .shortFamdom__content__body__discuss:hover .shortFamdom__content__body__discuss-item {
            display: block;
        }

        .shortShare {
            position: relative;

            &__body {
                @include mediaStyle();
                top: 100%;
                left: 0;
                font-size: 14px;
                border: 1px solid #ccc;

                a {
                    display: block;
                    padding: 5px 20px 5px 10px;
                    white-space: nowrap;
                }

                a:hover {
                    background-color: #bec2c6;
                }
            }
        }

        .shortShare:hover .shortShare__body {
            display: block;
        }
    }
}

.detailsFim {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__content {
        padding: 30px 40px;
        width: 100%;
        justify-content: center;

        &__panner {
            position: relative;
            z-index: 2;
            width: 300px;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        &__body {
            position: relative;
            z-index: 2;
            width: 60%;
            @include columnStyle();

            .scoreUser {
                width: 50%;
                @include columnStyle(10px);

                &__title {
                    span {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        background-color: #032541;
                        border-radius: 60px;
                        border: 3px solid #4ef548;
                        @include centerStyle();
                    }

                    strong {
                        font-weight: 700;
                        @include centerStyle();
                    }

                    div {
                        @include centerStyle();

                        p {
                            background-color: #032541;
                            padding: 5px 20px;
                            border-radius: 15px;

                        }
                    }
                }

                &__content {
                    &__lobby {
                        &-item {
                            background-color: #032541;
                            padding: 10px 15px;
                            border-radius: 15px;
                        }
                    }

                    &__trailer {
                        @include centerStyle();
                    }
                }
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right,
                rgba(31, 31, 31, 1) calc((50vw - 170px) - 340px),
                rgba(31, 31, 31, 0.84) 50%,
                rgba(31, 31, 31, 0.84) 100%);
        z-index: 1;
    }
}