<div class="flex fimWeek">
    <div *ngFor="let fim of fims" class="fimWeek__body">
        <div class="fimWeek__body__background">
            <img src="assets/bgrTrend.svg" alt="">
        </div>
        <div class="fimWeek__body__item">
            <div class="fimWeek__body__item-img">
                <img [src]="'https://image.tmdb.org/t/p/w500'+fim.poster_path" alt="Poster Fims">
            </div>
            <div class="fimWeek__body__item__info">
                <p class="fimWeek__body__item__info-title">{{fim.title}}</p>
                <p class="fimWeek__body__item__info-date">{{fim.release_date | date}}</p>
            </div>
        </div>
    </div>
</div>