@import "tailwindcss";

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;

    &__title {
        &__edit {
            &-all {
                span {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background: linear-gradient(to right, rgb(30, 213, 169, 1), rgb(1, 180, 228, 1));
                }
            }
            &-week {
                span {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background: linear-gradient(to right, rgb(253, 193, 112, 1), rgb(217, 59, 99, 1));
                } 
            }
        }
    }
    .leaderboard {
        &__bodyone {
            width: 50%;
            &_dietong {
                &__avatar {
                    img {
                        border-radius: 50%;
                    }
                }
                width: 100%;
                .dietong {
                    width: 100%;
                    &__Statistical {
                        &__raw {
                            &-map {
                                background: linear-gradient(45deg, rgb(30, 213, 169, 1), rgb(1, 180, 228, 1));
                                height: 8px;
                                width: 21%;
                                border-radius: 10px;
                                margin-top: 10px;
                            }
                        }

                        &__task {
                            &-map {
                                background: linear-gradient(to right, rgb(253, 193, 112, 1), rgb(217, 59, 99, 1));
                                width: 90%;
                                height: 8px;
                                border-radius: 10px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}