<div class="container">
    <div class="container__title flex gap-5">
        <div>
            <p class="text-2xl font-medium">LeaderBoard</p>
        </div>
        <div class="container__title__edit">
            <p class="container__title__edit-all"><span></span>All Times Edit</p>
            <p class="container__title__edit-week"><span></span>Edits This Week</p>
        </div>
    </div>
    <div class="leaderboard flex gap-5">
        <div class="leaderboard__bodyone">
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        dietong
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>275300</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>136903</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2 ">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        xebon
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>30208</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>28238</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        enterpr1se
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>312251</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>21749</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        qualitylover
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>786112</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>9976</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        talestalker
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>1285636</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>6735</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leaderboard__bodyone">
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        lvbb
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>127236</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>92346</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        Rodrigo Ceni
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>31981</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>23591</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        Hshineme
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>15346</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>12487</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        HaeRang
                    </div>
                    <div class="HaeRang__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>200769</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>9724</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        hugochak
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>6468</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>6468</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>