<div class="container">
    <div class="container__title flex gap-5">
        <div>
            <p class="text-2xl font-medium">LeaderBoard</p>
        </div>
        <div class="container__title__edit">
            <p class="container__title__edit-all"><span></span>All Times Edit</p>
            <p class="container__title__edit-week"><span></span>Edits This Week</p>
        </div>
    </div>
    <div class="leaderboard flex gap-5">
        <div class="leaderboard__bodyone">
            <div class="flex leaderboard__bodyone_dietong gap-2">
                <div class="leaderboard__bodyone_dietong__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="dietong">
                    <div>
                        dietong
                    </div>
                    <div class="dietong__Statistical">
                        <div class="flex dietong__Statistical__raw">
                            <div class="dietong__Statistical__raw-map"></div>
                            <p>275300</p>
                        </div>
                        <div class="flex dietong__Statistical__task">
                            <div class="dietong__Statistical__task-map"></div>
                            <p>136903</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_xebon gap-2 ">
                <div class="leaderboard__bodyone_xebon__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="xebon">
                    <div>
                        xebon
                    </div>
                    <div class="xebon__Statistical">
                        <div class="flex xebon__Statistical__raw">
                            <div class="xebon__Statistical__raw-map"></div>
                            <p>30208</p>
                        </div>
                        <div class="flex xebon__Statistical__task">
                            <div class="xebon__Statistical__task-map"></div>
                            <p>28238</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_enterpr1se gap-2">
                <div class="leaderboard__bodyone_enterpr1se__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="enterpr1se">
                    <div>
                        enterpr1se
                    </div>
                    <div class="enterpr1se__Statistical">
                        <div class="flex enterpr1se__Statistical__raw">
                            <div class="enterpr1se__Statistical__raw-map"></div>
                            <p>312251</p>
                        </div>
                        <div class="flex enterpr1se__Statistical__task">
                            <div class="enterpr1se__Statistical__task-map"></div>
                            <p>21749</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_qualitylover gap-2">
                <div class="leaderboard__bodyone_qualitylover__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="qualitylover">
                    <div>
                        qualitylover
                    </div>
                    <div class="qualitylover__Statistical">
                        <div class="flex qualitylover__Statistical__raw">
                            <div class="qualitylover__Statistical__raw-map"></div>
                            <p>786112</p>
                        </div>
                        <div class="flex qualitylover__Statistical__task">
                            <div class="qualitylover__Statistical__task-map"></div>
                            <p>9976</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodyone_talestalker gap-2">
                <div class="leaderboard__bodyone_talestalker__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="talestalker">
                    <div>
                        talestalker
                    </div>
                    <div class="talestalker__Statistical">
                        <div class="flex talestalker__Statistical__raw">
                            <div class="talestalker__Statistical__raw-map"></div>
                            <p>1285636</p>
                        </div>
                        <div class="flex talestalker__Statistical__task">
                            <div class="talestalker__Statistical__task-map"></div>
                            <p>6735</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="leaderboard__bodytwo">
            <div class="flex leaderboard__bodytwo_lvbb gap-2">
                <div class="leaderboard__bodytwo_lvbb__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="lvbb">
                    <div>
                        lvbb
                    </div>
                    <div class="lvbb__Statistical">
                        <div class="flex lvbb__Statistical__raw">
                            <div class="lvbb__Statistical__raw-map"></div>
                            <p>127236</p>
                        </div>
                        <div class="flex lvbb__Statistical__task">
                            <div class="lvbb__Statistical__task-map"></div>
                            <p>92346</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodytwo_RodrigoCeni gap-2">
                <div class="leaderboard__bodytwo_RodrigoCeni__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="RodrigoCeni">
                    <div>
                        Rodrigo Ceni
                    </div>
                    <div class="RodrigoCeni__Statistical">
                        <div class="flex RodrigoCeni__Statistical__raw">
                            <div class="RodrigoCeni__Statistical__raw-map"></div>
                            <p>31981</p>
                        </div>
                        <div class="flex RodrigoCeni__Statistical__task">
                            <div class="RodrigoCeni__Statistical__task-map"></div>
                            <p>23591</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodytwo_Hshineme gap-2">
                <div class="leaderboard__bodytwo_Hshineme__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="Hshineme">
                    <div>
                        Hshineme
                    </div>
                    <div class="Hshineme__Statistical">
                        <div class="flex Hshineme__Statistical__raw">
                            <div class="Hshineme__Statistical__raw-map"></div>
                            <p>15346</p>
                        </div>
                        <div class="flex Hshineme__Statistical__task">
                            <div class="Hshineme__Statistical__task-map"></div>
                            <p>12487</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodytwo_HaeRang gap-2">
                <div class="leaderboard__bodytwo_HaeRang__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="HaeRang">
                    <div>
                        HaeRang
                    </div>
                    <div class="HaeRang__Statistical">
                        <div class="flex HaeRang__Statistical__raw">
                            <div class="HaeRang__Statistical__raw-map"></div>
                            <p>200769</p>
                        </div>
                        <div class="flex HaeRang__Statistical__task">
                            <div class="HaeRang__Statistical__task-map"></div>
                            <p>9724</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex leaderboard__bodytwo_hugochak gap-2">
                <div class="leaderboard__bodytwo_hugochak__avatar flex items-center">
                    <img src="assets/avatar.svg" alt="" width="60px" class="rounded-4xl">
                </div>
                <div class="hugochak">
                    <div>
                        hugochak
                    </div>
                    <div class="hugochak__Statistical">
                        <div class="flex hugochak__Statistical__raw">
                            <div class="hugochak__Statistical__raw-map"></div>
                            <p>6468</p>
                        </div>
                        <div class="flex hugochak__Statistical__task">
                            <div class="hugochak__Statistical__task-map"></div>
                            <p>6468</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>