<div>
    <div>
        <img src="assets/logo.svg" alt="Logo" class="w-45" >
    </div>
    <div>
        <ul>
            <li>
                <p>Movies</p>
                <div>
                    <a href="#">Popular</a>
                    <a href="#">Now Playing</a>
                    <a href="#">Upcoming</a>
                    <a href="#">Top Rated</a>
                </div>
            </li>
            <li>
                <p>TV Shows</p>
                <div>
                    <a href="#">Popular</a>
                    <a href="#">Airing Today</a>
                    <a href="#">On TV</a>
                    <a href="#">Top Rated</a>
                </div>
            </li>
            <li>
                <p>People</p>
                <div>
                    <a href="#">Popular People</a>
                </div>
            </li>
            <li>
                <p>More</p>
                <div>
                    <a href="#">Popular</a>
                    <a href="#">Now Playing</a>
                    <a href="#">Upcoming</a>
                    <a href="#">Top Rated</a>
                </div>
            </li>
        </ul>

    </div>
</div>