<div>
    <div>
        <img src="assets/logo.svg" alt="">
    </div>
    <div>
        <p>Movies</p>
        <div>
            <a href="#">Popular</a>
            <a href="#">Now Playing</a>
            <a href="#">Upcoming</a>
            <a href="#">Top Rated</a>
        </div>
    </div>
    <div>
        <p>TV Shows</p>
        <div>
            <a href="#">Popular</a>
            <a href="#">Airing Today</a>
            <a href="#">On TV</a>
            <a href="#">Top Rated</a>
        </div>
    </div>
    <div>
        <p>People</p>
        <div>
            <a href="#">Popular People</a>
        </div>
    </div>
    <div>
        <p>More</p>
        <div>
            <a href="#">Popular</a>
            <a href="#">Now Playing</a>
            <a href="#">Upcoming</a>
            <a href="#">Top Rated</a>
        </div>
    </div>
</div>