@import "tailwindcss";
@import "../../../../services/fim.mixin.scss";
.TopCast {
    width: 80%;
    padding: 30px 40px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    &__left {
        width: 65%;
        @include columnStyle(10px);
        &__content {
            overflow-x: auto;
            white-space: nowrap;
            gap: 10px;

            &-item {
                flex: 0 0 auto;
                width: 138px;
                position: relative;
                border: 1px solid #ccc;
                border-radius: 10px;
                margin-bottom: 20px;

                img {
                    border-radius: 10px;
                }

                p {
                    white-space: normal;
                    padding: 5px 0 0 10px;
                }
            }

            &-more {
                a {
                    text-decoration: none;
                    font-weight: 500;
                    color: black;
                }
            }
        }

        &__comment {
            &__title {
                .toggleSocial {
                    position: relative;

                    input {
                        display: none;
                    }

                    .toggleSocial-label {
                        text-align: center;
                        line-height: 40px;
                        cursor: pointer;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: transparent;
                            transition: background-color 0.3s;
                        }
                    }

                    #review:checked~.label-today::after,
                    #discusions:checked~.label-week::after {
                        background-color: #000;
                    }

                }
            }
        }
    }

    &__right {
        @include columnStyle(10px);
        margin-top: 10%;
        width: 100%;

        &__keyword {
            width: 55%;

            &-item {
                font-size: 14px;
                padding-top: 10px;

                div {
                    border: 1px solid #dad9d9;
                    padding: 0 5px;
                    background-color: #e6e5e5;
                    border-radius: 5px;
                }
            }
        }

        &__hr {
            width: 60%;
            margin: 10px 0;
        }

        &__contentScore {
            width: 60%;

            &__item {
                border-radius: 10px;
                background-color: #ccc;

                &-number {
                    padding: 10px 10px;
                    background-color: #000;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    color: white;
                    font-weight: 600;
                }
                &-text {
                    padding: 0 10px;
                    font-size: 14px;
                }
            }
        }
        &__User {
            width: 50%;
            &-login {
                @include columnStyle();
                button {
                    background-color: #000;
                    color: white;
                    padding: 10px 25px;
                    border-radius: 25px;
                }
                a {
                    color: #dad9d9;
                }
                a:hover{
                    color: #000;
                }
            }
        }
    }
}