@import "tailwindcss";

.content {
    &__logged {
        background-color: deepskyblue;

        &__text {
            width: 75%;
            margin: 0 auto;
            padding: 30px 0;
        }
    }

    &__welcome {
        position: relative;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: 360px;
            object-fit: cover
        }

        &__body {
            width: 65%;
            position: absolute;
            top: 20%;
            padding: 30px 40px;
            display: flex;
            flex-direction: column;
            gap: 45px;

            &-search {
                input {
                    background-color: rgb(255, 255, 255);
                    padding: 12px 15px;
                    border-radius: 30px;
                    color: #000000;
                }

                input::placeholder {
                    color: #8f8e8e;
                }

                input:focus {
                    border: none;
                }

                button {
                    padding: 10px 30px;
                    border-radius: 30px;
                    position: absolute;
                    right: 0%;
                    top: 5%;
                    background: linear-gradient(45deg, rgb(30, 213, 169, 1), rgb(1, 180, 228, 1));
                }
            }
        }
    }

    .content__trending {
        .fimHot {
            width: 67%;
            margin: 0 auto;
            &__menu {
                display: flex;
                margin: 20px 0;

                &__nav {
                    position: relative;
                    width: 200px;
                    height: 40px;
                    border: 2px solid #002c4d;
                    border-radius: 999px;
                    display: flex;
                    overflow: hidden;
                    font-family: sans-serif;


                        input {
                            display: none;
                        }
              

                    .toggle-label {
                        flex: 1;
                        text-align: center;
                        line-height: 40px;
                        cursor: pointer;
                        font-weight: 600;
                        z-index: 2;
                        color: #002c4d;
                        transition: color 0.3s;
                        position: relative;
                    }

                    .toggle-bg {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 50%;
                        height: 100%;
                        background-color: #002c4d;
                        border-radius: 999px;
                        z-index: 1;
                        transition: transform 0.3s ease;
                    }

                    #today:checked ~ .toggle-bg {
                        transform: translateX(0%);
                    }

                    #week:checked ~ .toggle-bg {
                        transform: translateX(100%);
                    }

                    #today:checked ~ .label-today,
                    #week:checked ~ .label-week {
                        color: #aaf0d1;
                    }
                }

            }
        }
    }

    .content__trailer {
        background-color: #032541;
        color: white;
        padding: 15px 0;

        .container {
            width: 65%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__body {
                &__task {
                    border: 2px solid rgb(30, 213, 169, 1);
                    padding: 5px 10px;
                    gap: 10px;
                    border-radius: 20px;
                    font-weight: 500;
                }
            }

            &__refesh {
                a {
                    color: #01B4E4;
                }
            }
        }
    }

    &__popular {
        width: 65%;
        margin: 0 auto;

        &__title {
            margin: 20px 0;

            a {
                background-color: #032541;
                padding: 5px 30px;
                border-radius: 30px;
                color: rgb(103, 223, 195);
            }
        }
    }

    &__join {
        position: relative;

        img {
            filter: invert(15%) sepia(74%) saturate(6132%) hue-rotate(283deg) brightness(82%) contrast(118%);
            width: 100%;
            height: 276px;
            object-fit: cover;
        }

        &__body {
            position: absolute;
            top: 20px;
            left: 20%;

            .contentUp {
                &__signUp {
                    button {
                        margin-top: 50px;
                        background-color: #805BE7;
                        padding: 8px 16px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }

}